.checklist__progress-bar {
  /*margin: 15px 15px 0 21px;
  width: 62px;
  height: 62px;*/
  margin: 16px 15px 0 22px;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}